* {
  box-sizing: border-box;
}

/*** BODY ***/

.body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.hidden {
  display: none;
}

.displayed {
  display: inline;
}

/*** GRID ***/

.grid {
  display: grid;
  grid-template-rows: min-content auto min-content;
  margin: 0 auto;
  padding: 0;
}

.grid__main {
  display: grid;
  grid-template-rows: repeat(6, min-content);
}

.grid__section {
  display: grid;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.grid__project {
  display: grid;
  align-items: center;
  justify-items: center;
}

.grid__other {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.grid__thoughts {
  display: grid;
  align-items: center;
  justify-content: center;
}

.grid__skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    'item1 item2'
    'item3 item3';
  column-gap: 20px;
  text-align: center;
}

.grid__more {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

/*** HEADER ***/

.header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.7)
    ),
    url('./assets/header-image.jpg');
  background-size: cover;
  height: 60vh;
  padding-top: 60px;
  width: auto;
  align-content: center;
  position: relative;
}

.header__nav {
  display: flex;
  justify-self: flex-end;
  position: absolute;
  top: 100px;
  right: 40px;
  margin-bottom: 35px;
}

.header__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header__i {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #fff;
  border-radius: 50%;
  color: #fff;
  width: 39px;
  height: 39px;
  font-size: 20px;
  padding: 10px;
  margin-right: 5px;
}

.header__section {
  position: absolute;
  top: 30%;
  left: 40px;
  margin-top: 20px;
}

.header__text {
  font: 13px/15px 'Roboto', sans-serif;
  letter-spacing: 0.52px;
  margin: 5px 0;
  text-transform: uppercase;
}

.header__heading {
  font: bold 40px/49px 'Montserrat', sans-serif;
  letter-spacing: 0;
  margin: 0;
  width: 50%;
}

.header__subheading {
  font: bold 24px/29px 'Montserrat', sans-serif;
  letter-spacing: 0;
  margin: 0;
}

.header__image {
  position: absolute;
  right: 40px;
  bottom: -10px;
  height: 162px;
  width: 162px;
  border: 3px solid #fff;
  border-radius: 50%;
}

/*** MAIN SECTIONS ***/

.section {
  padding: 13% 12%;
  width: 100%;
}

.section__background--beige {
  background: rgba(218, 181, 151, 0.3);
}

.main__heading {
  font: bold 22px/27px Montserrat;
  letter-spacing: 0;
  text-transform: uppercase;
  background: #6f3112;
  padding: 10px 15px;
  margin: 0 0 40px 0;
  text-align: center;
}

.main__subheading {
  font: bold 21px/25px Montserrat;
  letter-spacing: 0;
  color: #6f3112;
  text-align: center;
}

/* MAIN SUMMARY */

.summary__span--line {
  width: 45px;
  height: 2px;
  background: #6f3112;
  display: inline-block;
  margin-bottom: 5px;
}

.summary__span--circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #6f3112;
  display: inline-block;
  margin-right: 15px;
}

.summary__text {
  font: 17px/29px Montserrat;
  letter-spacing: 0;
  color: #000000;
  margin-top: 0;
}

/* MAIN TECH */

.tech__text--center {
  text-align: center;
}

/* ARTICLE */

.article {
  margin-bottom: 40px;
}

.article__link {
  text-decoration: none;
}

.article__span--underline {
  text-decoration: underline;
}

/* MAIN FEATURED PROJECTS */

.projects__image-container {
  position: relative;
  width: 100%;
  height: 200px;
}

.projects__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.projects__caption {
  text-transform: uppercase;
  font: bold 16px/19px Montserrat;
  letter-spacing: 0;
  color: #aebea1;
}

.projects__text {
  font: 17px/29px Roboto;
  letter-spacing: 0;
  color: #000000;
}

.projects__span {
  text-transform: uppercase;
  font-weight: bold;
  color: #6f3112;
}

.projects__tags-container {
  display: flex;
  flex-direction: row;
}

.projects__tag {
  font: 9px/10px Roboto;
  letter-spacing: 0;
  color: #2b2e34;
  background-color: #aebea1;
  margin: 0 5px 0 0;
  padding: 5px 8px;
}

/*** MAIN THOUGHTS ***/

.thoughts__image {
  width: 100%;
}

.thoughts__subheading {
  font: 17px/32px Roboto;
  letter-spacing: 0;
  color: #6f3112;
  margin: 35px 0 0 0;
  text-transform: uppercase;
}

.thoughts__heading {
  font: bold 21px/32px Roboto;
  letter-spacing: 0;
  color: #000000;
  margin: 0;
}

.thoughts__text {
  font: 17px/32px Roboto;
  letter-spacing: 0;
  color: #000000;
  margin: 0;
}

.thoughts__article {
  margin: 0;
}

.thoughts__span {
  text-transform: uppercase;
  font-weight: normal;
  color: #6f3112;
}

.thoughts__text--bold {
  margin: 10px 0;
  font-weight: bold;
}

/*** MAIN SKILLS ***/

.list__item1 {
  grid-area: item1;
}

.list__item2 {
  grid-area: item2;
}

.list__item3 {
  grid-area: item3;
}

.list__heading {
  font: 17px/29px Roboto;
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #6f3112;
  margin: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

/*** MAIN MORE ***/

.more__links {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.more__i {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #6f3112;
  border-radius: 50%;
  color: #6f3112;
  width: 59px;
  height: 59px;
  font-size: 29px;
  margin: 0;
}

.more__text {
  text-align: center;
  font: 900 11px/41px 'Avenir', sans-serif;
  letter-spacing: 0;
  color: #6f3112;
  text-transform: uppercase;
  margin: 0;
}

/*** FOOTER ***/

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #aebea1;
}

.footer__heading {
  font: bold 21px/25px Montserrat;
  letter-spacing: 0;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  color: #2b2e34;
}

.footer__text--bold {
  margin: 20px 0 0 0;
}

.footer__text {
  font: 17px/29px Roboto;
  letter-spacing: 0;
  text-decoration: none;
  color: #2b2e34;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .hidden {
    display: grid;
  }

  .displayed {
    display: none;
  }

  .grid__section {
    width: 60%;
    margin: 0 auto;
  }

  .header {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.7)
      ),
      url('./assets/header-image-medium.jpg');
  }

  .main-section-container {
    width: 60%;
    margin: 0 auto;
  }

  .grid__project {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0 40px;
  }

  .grid__thoughts {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 40px;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.7)
      ),
      url('./assets/header-image-large.jpg');
  }

  .grid__skills {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'item1 item2 item3';
    justify-items: center;
  }
}
