* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: min-content auto min-content;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

/*** HEADER ***/

.header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.7)
    ),
    url('./assets/header-image.jpg');
  background-size: cover;
  height: 60vh;
  padding-top: 60px;
  width: auto;
  align-content: center;
  position: relative;
}

/*-- header links --*/

.header-links {
  justify-self: flex-end;
  position: absolute;
  top: 100px;
  right: 40px;
  margin-bottom: 35px;
}

.header-links a {
  text-decoration: none;
}

.fa {
  border: 3px solid #fff;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
  padding: 10px;
  margin-right: 5px;
}

/*-- header text --*/

.header-text {
  position: absolute;
  top: 30%;
  left: 40px;
  margin-top: 20px;
}

.header-p {
  font: 13px/15px 'Roboto', sans-serif;
  letter-spacing: 0.52px;
  margin: 5px 0;
  text-transform: uppercase;
}

.header-h1 {
  font: bold 40px/49px 'Montserrat', sans-serif;
  letter-spacing: 0;
  margin: 0;
  width: 50%;
}

.header-h2 {
  font: bold 24px/29px 'Montserrat', sans-serif;
  letter-spacing: 0;
  margin: 0;
}

/*-- header image --*/

.header-image {
  position: absolute;
  right: 25px;
  bottom: -10px;
  height: 162px;
  width: 162px;
  border: 3px solid #fff;
  border-radius: 50%;
}

/*** MAIN ***/

.main-wrapper {
  display: grid;
  grid-template-rows: repeat(6, min-content);
}

.main-section {
  padding: 60px 40px;
  width: 100%;
}

.beige {
  background: rgba(218, 181, 151, 0.5);
}

.main-section-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.main-h3 {
  font: bold 22px/27px Montserrat;
  letter-spacing: 0;
  text-transform: uppercase;
  background: #73574e;
  padding: 10px 15px;
  margin: 0 0 40px 0;
}

.main-p {
  font: 17px/29px Montserrat;
  letter-spacing: 0;
  color: #000000;
  margin-top: 0;
}

.center {
  text-align: center;
}

/*-- MAIN PROJECTS --*/

.main-article {
  margin-bottom: 40px;
}

.main-article-a {
  text-decoration: none;
}

.main-article-container {
  position: relative;
  width: 100%;
  height: 180px;
}

/*-- main projects image --*/

.main-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
}

.overlay-p {
  text-transform: uppercase;
  font: normal normal bold 16px/19px Montserrat;
  letter-spacing: 0;
  /* color: #fddfe7; */
  color: #aebea1;
}

/*-- main projects text --*/

.main-article-p {
  font: 17px/29px Roboto;
  letter-spacing: 0;
  color: #000000;
}

.main-article-span {
  text-transform: uppercase;
  font-weight: bold;
  color: #73574e;
}

.underline {
  text-decoration: underline;
}

/*-- main projects tag --*/

.main-tag {
  display: flex;
}

.main-tag-p {
  font: 9px/10px Roboto;
  letter-spacing: 0;
  color: #2b2e34;
  background-color: #aebea1;
  margin: 0 5px 0 0;
  padding: 5px 8px;
}

/*-- main projects other --*/

.main-h4 {
  font: bold 21px/25px Montserrat;
  letter-spacing: 0;
  color: #73574e;
}

.main-other {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-article-other {
  margin-bottom: 40px;
}

/*** MAIN THOUGHTS ***/

.main-thoughts-header {
  align-self: flex-start;
  font: 17px/32px Roboto;
  letter-spacing: 0;
  color: #73574e;
  margin: 35px 0 0 0;
  text-transform: uppercase;
}

.main-h5 {
  font: bold 21px/32px Roboto;
  letter-spacing: 0;
  color: #000000;
  margin: 0;
}

.main-thoughts-p {
  font: 17px/32px Roboto;
  letter-spacing: 0;
  color: #000000;
  margin: 0;
}
/*-- main projects other --*/
